.breadcrumb {
  padding: 0.75rem 0rem;
}
#hot-topics ul {
  list-style: none;
  column-count: 6;
  padding: 0;
}

#hot-topics li:hover {
  color: var(--primary);
  cursor: pointer;
}

#main-articles {
  height: 50vh;
  text-shadow: 1px 1px black;
}

.bg-article {
  background: url("https://picsum.photos/800/400") center;
  background-size: cover;
  padding-left: 1rem;
}

.bg-article p {
  border-bottom: 1px solid var(--primary);
  align-self: flex-start;
  margin-bottom: 0;
}

.date-drop {
  position: absolute;
  bottom: -2em;
  right: 35%;
  border: 2px solid var(--primary);
  background-color: white;
  padding: 0.25em;
}
